.navbar{
  background-color: #23272A;
  margin-bottom: 50px;
  padding: 20px 0px;
}


.main{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.logout a{
  color: #23272A !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 100px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.newUser{
  padding: 10px 30px;
  background-color: #146EC6;
  color: #fff;
  font-size: 16px;
  font-family: Whitney;
  border: none;
  border-radius: 5px;
}

.newUser a{
  color: inherit;
  text-decoration: none;
}
