/* importimi i fonteve */
@font-face {
  font-family: whitney;
  src: url('../fonts/whitneysemibold.woff');
  font-weight: bold;
}

@font-face {
  font-family: whitneyLight;
  src: url('../fonts/whitneylight.woff');
  font-weight: light;
}

@font-face {
  font-family: whitneyBold;
  src: url('../fonts/whitneybold.woff');
}

@font-face{
  font-family: gintoNord;
  src: url('../fonts/ABCGintoNord-Ultra-Trial-BF651b7b783d44c.otf');
}

@font-face {
  font-family: gintoSemiBold;
  src: url('../fonts/ABCGintoNord-Bold-Trial-BF651b7b7670e10.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero{
  background-color: #5865f2;
  background-size: cover;
  height: 120vh;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  font-family: whitney, sans-serif;
  color: #fff;
}

.navbar button a{
  text-decoration: none;
  color: inherit;
}

.items ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
}

.items a{
  text-decoration: none;
  color: inherit;
}

.buttons button{
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
}

/* pjesa e content */
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  color: #fff;
}

.content h1{
  font-family: gintoNord;
  margin-bottom: 30px;
  font-size: 50px;
}

.content p{
  font-family: whitneyLight;
  font-size: 17px;
  padding-bottom: 20px;
}

.boxes{
  margin-top: 30px;
}

.boxes-1{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 15px;
}

.boxes-2{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.boxes button{
  height: 100px;
  width: 300px;
  padding: 37px 30px;
  font-family: gintoSemiBold;
  font-size: 18px;
  color: #23272A;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px 0 1px #57F287;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.boxes button:hover{
  background-color: #57F287;
  box-shadow: 5px 5px 0 1px #23272A;
}