/* fillon pjesa e navbar dhe hero */

.hero {
  background-image: url('../img/hero.png');
  background-size: cover;
  background-position: center;
  height: 83.5vh;
}

.content {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* Hapsira mes permbajtjes ne hero */
  gap: 35px;
}

.content h1 {
  font-size: 56px;
  font-family: Ginto;
  font-weight: 700;
}

.content h4 {
  font-family: Whitney;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.625;
}

.windows {
  border-radius: 28px;
  font-size: 20px;
  font-family: Whitney;
  padding: 16px 32px;
  border: none;
  margin-right: 20px;
  color: #23272A;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: color 0.3s, box-shadow 0.3s;
}

.windows:hover {
  color: #5865F2;
  box-shadow: -1px 22px 41px -10px rgba(0, 0, 0, 0.53);
}

.browser {
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  background-color: #23272A;
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: color 0.3s, box-shadow 0.3s;
}

.browser:hover {
  box-shadow: -1px 22px 41px -10px rgba(0, 0, 0, 0.53);
}

.login {
  background-color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: color 0.3s, box-shadow 0.3s;
}

.login:hover {
  color: #5865F2;
  box-shadow: -1px 22px 41px -10px rgba(0, 0, 0, 0.53);
}

/* Pjesa e sections te webfaqes */
.container-section {
  max-width: 1200px;
  margin: 0 auto;
}

.section1-content {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81vh;
  flex-direction: row;
}

.section1-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #23272A;
}

.section1-text h2 {
  font-family: Whitney;
  font-weight: bold;
  font-size: 48px;
}

.section1-text h4 {
  font-family: Whitney;
  font-weight: 300;
  line-height: 1.625;
  font-size: 20px;
}

.section2-content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81vh;
}

.section2-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #23272A;
}

.section2-text h2 {
  font-weight: 700;
  font-size: 48px;
}

.section2-text h4 {
  font-weight: 300;
  line-height: 1.625;
  font-size: 20px;
}

.section3-content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 81vh;
}

.section3-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #23272A;
}

.section3-text h2 {
  font-weight: 700;
  font-size: 48px;
}

.section3-text h4 {
  font-weight: 300;
  line-height: 1.625;
  font-size: 20px;
}

.section4-content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  color: #23272A;
}

.section4-text h1 {
  font-family: Ginto;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 20px;
}

.section4-text h4 {
  font-weight: 300;
  font-size: 20px;
}

.section4-content h2 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}

.section4-content button {
  border: none;
  border-radius: 28px;
  padding: 16px 32px;
  background-color: #5865F2;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s, box-shadow 0.3s;
}

.section4-content button:hover {
  box-shadow: -1px 22px 41px -10px rgba(0, 0, 0, 0.13);
}

.section4-other {
  margin-bottom: -76px;
}

.section4-other img {
  width: 100%;
}

/* styling per responsiveness  */

/* MEDIA QUERY PER MOBILE NE GJERESI 320px */
@media screen and (max-width: 320px) {

  /* responsive navigation styling */
  .hero {
    max-width: 100%;
  }

  .content {
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-top: 50px;
    padding-left: 35px;
    max-width: 100%;
    /* Hapsira mes permbajtjes ne hero */
    gap: 35px;
  }

  .content h1 {
    font-size: 24px;
  }

  .windows {
    margin-bottom: 15px;
  }

  .windows {
    border-radius: 28px;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    margin-right: 20px;
    color: #23272A;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: color 0.3s, box-shadow 0.3s;
  }

  .browser {
    border-radius: 28px;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    background-color: #23272A;
    color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: color 0.3s, box-shadow 0.3s;
  }

  .container-section {
    margin: 0px 20px;
  }

  .container-section img {
    height: 25vh;
    width: 100%;
  }

  .container-section br {
    display: none;
  }

  .container-section h2 {
    font-size: 1.5em;
  }

  .container-section h4 {
    font-size: 14px;
  }

  .section1-content {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section2-content {
    max-width: 100%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section2-content img {
    width: 100%;
    order: -1;
  }

  .section3-content {
    max-width: 100%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section4-content {
    max-width: 100%;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section4-content img {
    height: 25vh;
    width: 100%;
  }

  .section4-text h1 {
    font-size: 20px;
    text-align: left;
    max-width: 100%;
  }

  .section4-text h4 {
    font-size: 16px;
    text-align: left;
    max-width: 100%;
  }
}


/* MEDIA QUERY PER MOBILE NE GJERESI 480px */
@media screen and (max-width: 480px) {

  /* responsive navigation styling */
  .hero {
    max-width: 100%;
  }

  .content {
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-top: 50px;
    padding-left: 35px;
    max-width: 100%;
    /* Hapsira mes permbajtjes ne hero */
    gap: 35px;
  }

  .content h1 {
    font-size: 24px;
  }

  .windows {
    margin-bottom: 15px;
  }

  .windows {
    border-radius: 28px;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    margin-right: 20px;
    color: #23272A;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: color 0.3s, box-shadow 0.3s;
  }

  .browser {
    border-radius: 28px;
    font-size: 14px;
    padding: 16px 32px;
    border: none;
    background-color: #23272A;
    color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: color 0.3s, box-shadow 0.3s;
  }

  .container-section {
    margin: 0px 20px;
  }

  .container-section img {
    height: 25vh;
    width: 100%;
  }

  .container-section br {
    display: none;
  }

  .container-section h2 {
    font-size: 1.5em;
  }

  .container-section h4 {
    font-size: 14px;
  }

  .section1-content {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section2-content {
    max-width: 100%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section2-content img {
    width: 100%;
    order: -1;
  }

  .section3-content {
    max-width: 100%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section4-content {
    max-width: 100%;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section4-content img {
    height: 25vh;
    width: 100%;
  }

  .section4-text h1 {
    font-size: 20px;
    text-align: left;
    max-width: 100%;
  }

  .section4-text h4 {
    font-size: 16px;
    text-align: left;
    max-width: 100%;
  }
}


/* MEDIA QUERY PER MOBILE NE GJERESI 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {

  /* responsive navigation styling */
  .hero {
    max-width: 100%;
    height: 100vh;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero h4 {
    font-size: 16px;
    max-width: 80%;
  }

  .content-buttons {
    display: flex;
    flex-direction: column;
  }

  .login {
    display: none;
  }

  .content {
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-top: 50px;
    padding-left: 35px;
    max-width: 100%;
    /* Hapsira mes permbajtjes ne hero */
    gap: 35px;
  }

  .windows {
    margin-bottom: 15px;
  }

  .windows {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    margin-right: 20px;
    color: #23272A;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: color 0.3s, box-shadow 0.3s;
  }

  .browser {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border: none;
    background-color: #23272A;
    color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: color 0.3s, box-shadow 0.3s;
  }

  .container-section {
    margin: 0px 20px;
  }

  .container-section img {
    height: 40vh;
    width: 100%;
  }

  .container-section br {
    display: none;
  }

  .container-section h2 {
    font-size: 20px;
  }

  .container-section h4 {
    font-size: 16px;
  }

  .section1-content {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .section2-content {
    max-width: 100%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .section2-content img {
    order: -1;
  }

  .section3-content {
    max-width: 100%;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .section4-content {
    max-width: 100%;
    margin: 0 auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .section4-content img {
    height: 40vh;
    width: 100%;
  }

  .section4-text h1 {
    font-size: 30px;
    text-align: center;
    max-width: 100%;
  }

  .section4-text h4 {
    font-size: 16px;
    text-align: center;
    max-width: 100%;
  }

}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section1-content, .section2-content, .section3-content, .section4-content {
    justify-content: space-around;
  }
  .section1-content img, .section2-content img, .section3-content img, .section4-content img {
    max-width: 400px;
  }
}


@media screen and (max-width: 1200px) {
  .section4-other img {
    width: 1000px;
    height: 610px;
  }
}

@media screen and (max-width: 1024px) {
  .section4-other img {
    width: 100%;
    height: 40vh;
  }
}

@media screen and (max-width: 768px) {
  .section4-other img {
    width: 100%;
    height: 30vh;
  }
}