/* importimi i fonteve */
@font-face {
  font-family: whitney;
  src: url('../fonts/whitneysemibold.woff');
  font-weight: bold;
}

@font-face {
  font-family: whitneyLight;
  src: url('../fonts/whitneylight.woff');
  font-weight: light;
}

@font-face {
  font-family: whitneyBold;
  src: url('../fonts/whitneybold.woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fillon pjesa e navbar dhe hero */
.hero{
  background-image: url('../img/hero.png');
  background-size: cover;
  height: 83.5vh;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  font-family: whitney, sans-serif;
  color: #fff;
}

.items ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
}

.items a{
  text-decoration: none;
  color: inherit;
}

.buttons button{
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
}

.content {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  /* Hapsira mes permbajtjes ne hero */
  gap: 35px;
}

.content h1{
  font-size: 68px;
  font-family: whitneyBold;
  font-weight: bold;
}

.content h4{
  font-family: whitneyLight;
  font-size: 20px;
  line-height: 1.625;
}

.windows{
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  margin-right: 20px;
  color: #23272A;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transition: color 0.3s, box-shadow 0.3s;
}

.windows:hover {
  color: #5865F2;
  box-shadow: -1px 22px 41px -10px rgba(0,0,0,0.53);
}

.browser{
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  border: none;
  background-color: #23272A;
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transition: color 0.3s, box-shadow 0.3s;
}

.browser:hover {
  box-shadow: -1px 22px 41px -10px rgba(0,0,0,0.53);
}

.login{
  background-color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transition: color 0.3s, box-shadow 0.3s;
}

.login:hover{
    color: #5865F2;
    box-shadow: -1px 22px 41px -10px rgba(0,0,0,0.53);
}

/* Pjesa e sections te webfaqes */
.container-section{
  max-width: 1200px;
  margin: 0 auto;
}

.section1-content{
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81vh;
}

.section1-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #23272A;
}

.section1-text h2{
  font-family: whitneyBold;
  font-size: 48px;
}

.section1-text h4{
  font-family: whitneyLight;
  line-height: 1.625;
  font-size: 20px;
}

.section2-content{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81vh;
}

.section2-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #23272A;
}

.section2-text h2{
  font-family: whitneyBold;
  font-size: 48px;
}

.section2-text h4{
  font-family: whitneyLight;
  line-height: 1.625;
  font-size: 20px;
}

.section3-content{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 81vh;
}

.section3-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #23272A;
}

.section3-text h2{
  font-family: whitneyBold;
  font-size: 48px;
}

.section3-text h4{
  font-family: whitneyLight;
  line-height: 1.625;
  font-size: 20px;
}

.section4-content{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  color: #23272A;
}

.section4-text h1{
  font-family: whitneyBold;
  font-size: 46px;
  margin-bottom: 20px;
}

.section4-text h4{
  font-family: whitneyLight;
  font-size: 20px;
}

.section4-content h2{
  font-family: whitneyBold;
  font-size: 32px;
  margin-bottom: 25px;
}

.section4-content button{
  border: none;
  border-radius: 28px;
  padding: 16px 32px;
  background-color: #5865F2;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s, box-shadow 0.3s;
}

.section4-content button:hover {
  box-shadow: -1px 22px 41px -10px rgba(0,0,0,0.13);
}

/* styling per pjesen e footer */
.footer-container{
  height: 90vh;
  background-color: #23272A;
}

.footer-content{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  color: #fff;
  font-size: 17px;
  font-family: whitneyLight;
  line-height: 35px;
  display: flex;
  justify-content: space-around;

}

footer ul{
  list-style-type: none;
}

footer p{
  color: #5865F2;
  padding-bottom: 20px;
}

.social i{
  padding-right: 20px;
}

.bottom{
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom button{
  border-radius: 40px;
  font-size: 14px;
  padding: 10px 18px;
  border: none;
  background-color: #5865F2;
  color: #fff;
  font-family: whitney;
}
/* styling per pjesen e footer mbaron */
